.intro {
  position: absolute;
  display: block;
  height: 10vh;
  width: 10vh;
  background-color: white;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 1;
  border-radius: 20px;

}
.systemText {
  position: absolute;
  display: none;
  /* bottom: 8%; */
  width: 40vw;
  bottom: 8%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
  opacity: 0;
  font-size: 6vh;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.pickYourClass {
  display: none;
  height: 80vh;
  width: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: flex-end;
  margin: 0 auto;
}
.characterPick {
  height: 90%;
  width: 19%;
  min-width: 0%;
  border: 2px solid black;
  transition: border-color, transform, 0.3s;
  display: none;
  background-color: none;
  align-items: flex-start;
}
.characterPick:hover {
 border-color: yellow;
 transform: scale(1.1);
 width: 70%;
 z-index: 10000;


}
.nameWrapper {
  height: 20%;
  min-width: 100%;
  margin-bottom: auto;
  bottom: 0;
  left: 0;
  margin-left: auto;
  text-align: left;
  padding-top: 4vh;
  font-size: 1vh;
  font-family: sans-serif;
  word-break: normal;
  z-index: 2000;
}

.charLeft {
  width: 50%;
  height: 100%;
  flex: 1;
}
#virginiaName {
  background-color: rgba(255, 253, 139, 0.637);
}
#andreaName {
  background-color: rgba(255, 78, 78, 0.9);
}
#sadhguruName {
  background-color: rgba(255, 94, 255, 0.637);
}
#kamalaName {
  background-color: rgba(94, 118, 255, 0.637);
}
#coreyName {
  background-color: rgba(147, 255, 153, 0.9);
}
#virginiaDesc {
  background-color: rgba(255, 253, 139, 0.9);
}
#andreaDesc {
  background-color: rgba(255, 78, 78, 0.9);
}
#sadhguruDesc {
  background-color: rgba(255, 94, 255, 0.9);
}
#kamalaDesc {
  background-color: rgba(94, 118, 255, 0.9);
}
#coreyDesc {
  background-color: rgba(147, 255, 153, 0.9);
}
.charDesc {
  display: none;
  height: 100%;
  width: 50%;
  background-color: white;
  max-width: 60%;
  min-width: 0%;
  overflow: hidden;
  flex-direction: column;
  
}
.charTitle {
  height: 5vh;
  font-size: 4vh;
  padding-left: 1vw;
  background-color: rgba(255, 255, 255, 0.5);
}
.titlePad {
  height: 15%;
}
.desc {
  height: 70%;
}

.selectChar {
  height: 10vh;
  margin-bottom: 2vh;
  font-size: 3vh;
  transition: all 0.3s;
  margin-left: 1vw;
  margin-right: 1vw;
  background-color: rgba(255, 255, 255, 0.2);
}
.selectChar:hover {
  transform: scale(1.1);
  border: 2px solid yellow;
}