.greeting {
  height: 50vh;
  width: 30vw;
  white-space: normal;
  position: absolute;
  /* z-index: 1000; */
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 10vh;
  font-family: sans-serif;
  text-align: center;
  opacity: 0;
}

.intro {
  position: absolute;
  display: block;
  height: 80vh;
  width: 80vw;
  background-color: white;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 200;
  border-radius: 20px;
}
.queryBox {
  display: none;
  height: 60%;
  width: 70%;
  border: 4px solid blue;
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 8vh;
  z-index: 1900;

}
#myInput {
  height: 30px;
  width: 50%;
  background-color: rgba(0, 0, 0, 0);
  border-style: groove;
  z-index: 2000;
}

.pickYourClass {
  position: absolute;
  height: 80vh;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.characterPick {
  height: 90%;
  width: 19%;
  min-width: 0%;
  border: 2px solid black;
  transition: border-color, transform, 0.3s;
  display: flex;
  background-color: none;
  align-items: flex-end;
}
.characterPick:hover {
 border-color: yellow;
 transform: scale(1.1);
 width: 100%;
 z-index: 3000;

}
.nameWrapper {
  height: 20%;
  min-width: 100%;
  margin-bottom: auto;
  bottom: 0;
  left: 0;
  margin-left: auto;
  text-align: left;
  padding-top: 4vh;
  font-size: 5vh;
  font-family: sans-serif;
  word-break: normal;
}

.charLeft {
  width: 50%;
  height: 100%;
  flex: 1;
}
#virginiaName {
  background-color: rgba(255, 253, 139, 0.637);
}
#grawlName {
  background-color: rgba(39, 139, 0, 0.637);
}
#sadhguruName {
  background-color: rgba(255, 94, 255, 0.637);
}
#kamalaName {
  background-color: rgba(94, 118, 255, 0.637);
}
#coreyName {
  background-color: rgba(255, 78, 78, 0.637);
}
#virginiaDesc {
  background-color: rgba(255, 253, 139, 0.9);
}
#grawlDesc {
  background-color: rgba(39, 139, 0, 0.9);
}
#sadhguruDesc {
  background-color: rgba(255, 94, 255, 0.9);
}
#kamalaDesc {
  background-color: rgba(94, 118, 255, 0.9);
}
#coreyDesc {
  background-color: rgba(255, 78, 78, 0.9);
}
.charDesc {
  display: none;
  height: 100%;
  width: 50%;
  background-color: white;
  max-width: 60%;
  min-width: 0%;
  overflow: hidden;
  
}

