body {
  background-image: url('js/lib/images/ship.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.window {
  margin: 0 auto;
  width: 99vw;
  height: 99vh;
  
  display: flex;
  
  
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
 

}
.gameWrapper {
  display: flex;
  flex-direction: column-reverse;
 flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 70%;
  height: 75%;
 

  background-color:rgba(0, 0, 0, .4);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
  0 2px 2px rgba(0,0,0,0.15), 
  0 4px 4px rgba(0,0,0,0.15), 
  0 8px 8px rgba(0,0,0,0.15);
}
.board {
  display: flex;
  padding: 0;
  margin: 0;
  height: 90%;
  width:  90%;
  align-content: flex-start;
  flex-wrap: wrap;
  background-color: pink;
 
}
.board > div {
  padding: 0;
  background-color: white;
  border: 2px solid brown;
  height: 9%;
  width: 9%;
  flex: 1 0 auto;
}

.userCharacter {
  width: 15%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.6);
}
.character {
  background-image: url('js/lib/images/farmer.jpg');
  background-size: cover;
  border-bottom-left-radius: 10%
  0 1px 1px rgba(0,0,0,0.15); 
  0 2px 2px rgba(0,0,0,0.15);
  0 4px 4px rgba(0,0,0,0.15); 
  0 8px 8px rgba(0,0,0,0.15);
  height: 50%;
}
.characterLeft {
  background-image: url('js/lib/images/robertBobCecil.jpg');
  background-size: cover;
  0 1px 1px rgba(0,0,0,0.15); 
  0 2px 2px rgba(0,0,0,0.15);
  0 4px 4px rgba(0,0,0,0.15); 
  0 8px 8px rgba(0,0,0,0.15);
  height: 50%;
}
.chatwindow {
display: flex;
align-items: center;
justify-content: center;
}
#dialogue {
  max-height: 60%;
  max-width: 70%;
  font-size: 3vh;
  text-align: right;
}
#playerwindow {
  width: 40%;
  height: 100%;
  background-color: white;
  border-radius: 60%;
  border-bottom-left-radius: 0px;
  margin-left: 2%;
  
}
#opponentwindow {
  width: 40%;
  height: 100%;
  background-color: white;
  border-radius: 60%;
  margin-right: 2%;
  border-bottom-right-radius: 0px;
  
}

.characterPad {
  height: 50%;
}
.chat {
  height: 25%;
  width: 70%;
  background-color:rgba(0, 0, 0, .6);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.buttons {
  width: 15%;
  height: 80%;
  
  text-align: center;
  
}
.buttons > button {
  width: 80%;
  height: 45px;
  background-color: rgba(0, 0, 0, .4);
  color: white;
  font-size: 2vh;
  font-family: sans-serif;
  border-radius: 5px;
}
.buttons >button:hover {
  background-color: rgba(0, 0, 0, .2);
 }

 .boardAndMarkersContainer {
   background-color: red;
   display: flex;
   height: 70%;
   width: 40%;
   flex-wrap: wrap;
   flex-direction: column-reverse;
 }
.markersVert {
  display: flex;
  flex-direction: column;
  height: 90%;
  background-color: yellow;
  width: 10%;
  
  
}
.markersVert > div {
  padding-top: 40%;
  height: 10%;
  text-align: center;
  font-family: sans-serif;
  font-size: 2vh;
}
#padding {
  height: 2%;
}
.markersHorz {
  height: 10%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.markersHorz > div{
  width: 10%;
  margin: 2px;
  text-align: center;
  line-height: 8vh;
  font-family: sans-serif;
  font-size: 2vh;
}
.divider {
  height: 70%;
  width: 2%;
}
