body {
  background-image: url('js/lib/images/ship.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  font-family: sans-serif;
}
.window {
  margin: 0 auto;
  width: 99vw;
  height: 99vh;
  
  display: flex;
  
  
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
 

}
.gameWrapper {
  display: flex;
  flex-direction: row-reverse;
 flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  width: 70%;
  height: 75%;
 background-image: url('js/lib/images/game_assets/tile_39.png');

  
  box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
  0 2px 2px rgba(0,0,0,0.15), 
  0 4px 4px rgba(0,0,0,0.15), 
  0 8px 8px rgba(0,0,0,0.15);
}
.board {
  display: flex;
  padding: 0;
  margin: 0;
  height: 80%;
  width:  80%;
  align-content: flex-start;
  flex-wrap: wrap;
 
}
.board > div {
  padding: 0;
 background-image: url('js/lib/images/game_assets/tile_water.png');
 background-size: 100% 100%;
  /* border: 2px solid rgba(0,0,0,0); */
  height: 10%;
  width: 10%;
  flex: 1 0 auto;
}
.board:hover {
  cursor: url('js/lib/images/game_assets/crossair_red.png'), auto;
}

.userCharacter {
  width: 15%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.6);
}
.character {
  background-size: cover;
  border-bottom-left-radius: 10%
  0 1px 1px rgba(0,0,0,0.15); 
  0 2px 2px rgba(0,0,0,0.15);
  0 4px 4px rgba(0,0,0,0.15); 
  0 8px 8px rgba(0,0,0,0.15);
  height: 50%;
}
.characterLeft {
  background-size: cover;
  0 1px 1px rgba(0,0,0,0.15); 
  0 2px 2px rgba(0,0,0,0.15);
  0 4px 4px rgba(0,0,0,0.15); 
  0 8px 8px rgba(0,0,0,0.15);
  height: 50%;
}
.chatwindow {
display: flex;
align-items: center;
justify-content: center;
}
.dialogue {
  
  width: 80%;
  max-height: 60%;
  font-size: 3vh;
  text-align: right;
  
}
#playerDialogue {
  text-align: left;
}
#playerwindow {
  width: 40%;
  height: 100%;
  background-color: white;
  border-radius: 60%;
  border-bottom-left-radius: 0px;
  margin-left: 2%;
  
}
#opponentwindow {
  width: 40%;
  height: 100%;
  background-color: white;
  border-radius: 60%;
  margin-right: 2%;
  border-bottom-right-radius: 0px;
  
}

.characterPad {
  height: 50%;
}
.chat {
  height: 25%;
  width: 70%;
  background-color:rgba(0, 0, 0, .6);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.buttons {
  margin-top: 2%;
  width: 100%;
  height: 15%;
  background-image: url('js/lib/images/game_assets/tile_23.png');
  text-align: center;
  display: flex;
 justify-content: center;

  
}
.buttons > button {
  
  background-color: rgba(0, 0, 0, .4);
  color: white;
font-size: 2vh;
  font-family: sans-serif;
  border-radius: 5px;

}
.buttons >button:hover {
  background-color: rgba(0, 0, 0, .2);
 }

 .buttonsDev {
   position: absolute;
   bottom:0;
   left: 0;
 }

 .boardAndMarkersContainer {
  width: 50%;
  margin: 2px;
  text-align: center;
  line-height: 8vh;
  font-family: sans-serif;
  font-size: 2vh;
   display: flex;
   height: 80%;
   width: 48%;
   flex-wrap: wrap;
   flex-direction: column-reverse;
   color: rgba(255,255,255,0.5);
   transition: color 1s;
   background-image: url('js/lib/images/game_assets/tile_water.png');
   
 }
 .boardAndMarkersContainer:hover {
  color: rgba(255,255,255,1);
 }
 .markersVertLeft {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 10%;
  
  
}
.markersVertLeft > div {
  height: 8%;
  width: 100%;
  background-image: url('js/lib/images/game_assets/tile_25.png');
  background-size: 100% 100%;
}
.markersVertRight {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 10%;
  
  background-size: 100% 100%;
}
.markersVertRight > div {
  height: 8%;
  width: 100%;
  background-image: url('js/lib/images/game_assets/tile_22.png');
  background-size: 100% 100%;
}


.markersHorz {
  height: 10%;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.markersHorzBottom {
  height: 10%;
  max-width: 81%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.markersHorzBottom > div{
  width: 10%;
  
  text-align: center;
  line-height: 8vh;
  font-family: sans-serif;
  font-size: 2vh;
  background-image: url('js/lib/images/game_assets/tile_07.png');
  background-size: 100% 100%;
}

.markersHorz > div{
  width: 10%;
  text-align: center;
  line-height: 8vh;
  font-family: sans-serif;
  font-size: 2vh;
  background-image: url('js/lib/images/game_assets/tile_56.png');
  background-size: 100% 100%;
}

.divider {
  height: 70%;
  width: 2%;
}
.desc {
  font-size: 2vh;
  padding: 1vh;
}
